header {
    > nav {
        &.nav-shadow {
            box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05)
        }
        .navbar-brand {
            img {
                border-radius: 50%;
                max-height: 3rem;
            }
            .navbar-sp {
                padding: .5rem .75rem;
                justify-content: flex-end;
                margin-left: auto;
                @media (min-width: 1023px) {
                    display: none;
                }
                .buttons {
                    .button {
                        border: 0px;
                        margin-bottom: 0;
                        font-size: 1.2rem;
                    }
                }
            }
        }
        .navbar-menu {
            .button {
                border: 0px;
            }
        }
    }
}
