/* Scroll to top button */
html {
    // Only animate scrolling for users who have not asked for reduced motion
    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }
}

#totop {
    color: $text-base-color;
    position: fixed;
    bottom: 60px;
    right: 30px;
    z-index: 1;
    border: 0;
    border-radius: 10%;
    padding: 0;
    cursor: pointer;
    background-color: $go-top-bg;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: $go-top-bg-hover;
    }

    // center align icon vertically
    svg {
        margin: auto;
        display: block;
        height: 40px;
        width: 40px;
    }
}
