<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title itemprop="name">{{ .Title }} | takeokunn's blog</title>
<meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}">
<meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}">
<meta itemprop="name" content="{{ .Title }} | {{ .Site.Title }}">
<meta name="application-name" content="{{ .Title }} | {{ .Site.Title }}">
<meta property="og:site_name" content="{{ .Site.Params.sitename }}">

<meta name="description" content="{{ substr .Site.Params.description 0 300 }}">
<meta itemprop="description" content="{{ substr .Site.Params.description 0 300 }}">
<meta property="og:description" content="{{ substr .Site.Params.description 0 300 }}">
<meta name="twitter:description" content="{{ substr .Site.Params.description 0 300 }}">

<meta property="og:locale" content="{{ .Site.LanguageCode }}">
<meta name="language" content="{{ .Site.LanguageCode }}">
{{ range .AllTranslations }}
    <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
{{ end }}

<meta itemprop="image" content="{{ .Site.Params.ogpImage | absURL }}">
<meta property="og:image" content="{{ .Site.Params.ogpImage | absURL }}">
<meta name="twitter:image" content="{{ .Site.Params.ogpImage | absURL }}">
<meta name="twitter:image:src" content="{{ .Site.Params.ogpImage | absURL }}">
