<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="Hatena::Bookmark" content="nocomment">

{{ if .IsHome }}
    <title itemprop="name">takeokunn's blog</title>
{{ else }}
    <title itemprop="name">{{ .Title }} | takeokunn's blog</title>
{{ end }}

{{ if .IsHome }}
    <meta property="og:title" content="{{ .Site.Title }}">
    <meta name="twitter:title" content="{{ .Site.Title }}">
    <meta itemprop="name" content="{{ .Site.Title }}">
    <meta name="application-name" content="{{ .Site.Title }}">
{{ else }}
    <meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}">
    <meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}">
    <meta itemprop="name" content="{{ .Title }} | {{ .Site.Title }}">
    <meta name="application-name" content="{{ .Title }} | {{ .Site.Title }}">
{{ end }}
<meta property="og:site_name" content="{{ .Site.Params.sitename }}">

{{ $description := "poem driven development" }}
{{ if eq .Section "posts" }}
    {{ $description = (substr (.Content | plainify) 0 300) }}
{{ end }}

<meta name="description" content="{{ $description }}">
<meta itemprop="description" content="{{ $description }}">
<meta property="og:description" content="{{ $description }}">
<meta name="twitter:description" content="{{ $description }}">

<meta property="og:locale" content="{{ .Site.LanguageCode }}">
<meta name="language" content="{{ .Site.LanguageCode }}">
{{ range .AllTranslations }}
    <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
{{ end }}
