{{ define "main" }}

<main class="terms container">
    <section class="hero">
        <div class="hero-body has-text-centered">
            <h1>Tags</h1>
        </div>
    </section>
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            <ul>
                {{ range .Site.Taxonomies.tags.ByCount }}
                    <li>
                        <a href="{{ $.Site.BaseURL | relURL }}tags/{{ .Name | urlize }}">{{ .Name }}
                            <span>({{ .Count }})</span>
                        </a>
                    </li>
                {{ end }}
            </ul>
        </div>
    </div>
</main>

{{ end }}
