<div class="navbar" role="navigation">
    <nav class="menu" aria-label="Main Navigation">
        <a href="{{ .Site.Home.Permalink }}" class="logo" aria-label="Home">
            {{ partial "svgs/home.svg" (dict "height" 25 "width" 25) . }}
        </a>
        <input type="checkbox" id="menu-trigger" class="menu-trigger" aria-hidden="true" />
        <label for="menu-trigger" aria-label="Toggle menu" aria-expanded="false" aria-controls="site-menu">
            <span class="menu-icon" aria-hidden="true">
                {{ partial "svgs/menu.svg" (dict "height" 25 "width" 25) . }}
            </span>
        </label>
        <div class="trigger" id="site-menu" role="menu">
            <label for="menu-trigger" class="menu-close-button" aria-label="Close menu">
                &times; <!-- This is the 'X' character -->
            </label>
            <ul class="trigger-container" role="menubar">
                <li role="none">
                    <a class="menu-link {{ if .IsHome }}active{{ end }}" href="/" role="menuitem" {{ if .IsHome }}aria-current="page"{{ end }}>
                        Home
                    </a>
                </li>
                <li role="none">
                    <a class="menu-link {{ if eq .Section "posts" }}active{{ end }}" href="/posts/" role="menuitem" {{ if eq .Section "posts" }}aria-current="page"{{ end }}>
                        Posts
                    </a>
                </li>
                <li role="none">
                    <a class="menu-link {{ if eq .RelPermalink "/graph/" }}active{{ end }}" href="/graph/" role="menuitem" {{ if eq .RelPermalink "/graph/" }}aria-current="page"{{ end }}>
                        Graph
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
