<header>
    <nav class="navbar nav-shadow" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a href="/" class="navbar-item">
                    <img src="{{ .Site.Params.icon | absURL }}" alt="icon">
                </a>
                <div class="navbar-sp">
                    <div class="buttons">
                        <a href="/about" class="button">About</a>
                        <a href="/tags" class="button">Tags</a>
                        <a href="/posts" class="button">Posts</a>
                    </div>
                </div>
            </div>
            <div class="navbar-menu">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a href="/about" class="button">About</a>
                            <a href="/tags" class="button">Tags</a>
                            <a href="/posts" class="button">Posts</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
