<div class="navbar" role="navigation">
    <nav class="menu" aria-label="Main Navigation">
        <a href="{{ .Site.Home.Permalink }}" class="logo">
            {{ partial "svgs/home.svg" (dict "height" 25 "width" 25) . }}
        </a>
        <input type="checkbox" id="menu-trigger" class="menu-trigger" />
        <label for="menu-trigger">
            <span class="menu-icon">
                {{ partial "svgs/menu.svg" (dict "height" 25 "width" 25) . }}
            </span>
        </label>
        <div class="trigger">
            <ul class="trigger-container">
                {{ $currentPage := . }}
                <li>
                    <a class="menu-link {{ if eq .RelPermalink "/" }}active{{ end }}" href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a class="menu-link {{ if eq .RelPermalink "/posts/" }}active{{ end }}" href="/posts/">
                        Posts
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
